# Flutter/Dart/Pub related
**/build/
.dart_tool/
.packages
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
.idea/

# Android/IntelliJ related
*.iml
.gradle/
/local.properties
**/generated/

# iOS related
Pods/
DerivedData/
